<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <a href="/" class="navbar-brand sidebar-gone-hide">NeXX</a>
  <ul class="navbar-nav navbar-right  ml-auto">
  </ul>
</nav>